#MAKE SURE TO INCLUDE in app/_config/ecommerce.yml
Order:
  modifiers:
    - OtherModifierA
    - OtherModifierB
    - GSTTaxModifier

#########################################
# START ECOMMERCE TAX
#########################################

GSTTaxModifier:
  exclusive_explanation: " (to be added to prices above)"
  inclusive_explanation: " (included in prices above)"
  based_on_country_note: " - based on a sale to: "
  no_tax_description: "tax-exempt"
  refund_title: "Tex Exemption"
  order_item_function_for_tax_exclusive_portion: "PortionWithoutTax"
  default_country_code: "NZ"
  alternative_country_prices_already_include_their_own_tax: true
  field_or_method_to_use_for_sub_title: 'Code'

#Recommended
Geoip:
  default_country_code: "NZ"

#########################################
# END ECOMMERCE TAX
#########################################
